@font-face {
    font-family: Changa;
    src: url(../fonts/Changa-VariableFont_wght.ttf);
 }

 @font-face {
    font-family: ChangaOne;
    src: url(../fonts/ChangaOne-Regular.ttf);
 }

.backGround{
    background-color: rgb(26, 26, 27);
}

.HomeDiv{
    background-image: url('../assets/1163994.jpg');
    font-family: ChangaOne;
    font-size: 5em;
}

.AboutUsFont{
    padding: 15px;
    color: antiquewhite;
    font-size: xx-large;
    font-weight: 600;
}

.ContactUsDiv{
    background-image: url('../assets/1163994.jpg');
    font-family: ChangaOne;
    font-size: 3em;
}

.ContactUsDiv2{
    background-image: url('../assets/1163994.jpg');
    font-family: ChangaOne;
    font-size: 3em;
    padding: 25px;
}

.ContactUsText{
    font-size: large;
}

.listText{
    font-size: 4rem;
    font-family: ChangaOne;
    color: white;
}

.listTextSpacing{
    margin-top: 5rem;
}

.paragraphText{
    font-size: larger;
    color: white;
    padding: 20px;
}

.HomeEmpowerBG{
    background-color: white;
    margin-top: 75px;
    font-family: ChangaOne;
    font-size: 4rem;
}
.CarouselDiv{
    border: 20px solid white;
    width: 80%;
}

.HomeEmpower{
    border: 20px solid white;
    background-color: white;
}


.NavLogo{
    height: 9em;
}


.NavDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarLinks{
    font-size: 2em;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.footerIcon{
    width: 50px;
}

.classHeader{
    font-family: Changa;
    font-weight: 700;
    font-size: 46px;
    color: white;
}

.classDiv{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 5px;
}

.Footer{
    color: white;
}

.footerText{
    margin-top: 15px;
}

.textArea{
    width: 100%;
    height: 150px;
}

.navbarText{
    color: azure;
}
.navbarText::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbarText:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}



.caraselIMG {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: fit-content
  }

  .caraselIMG2 {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .CarouselText{
    top: 500px;
    position: relative;
    z-index: 1;
  }
  .navbarText{
    margin-left: 30px;
  }

  .Ptag{
    font-size: 22px;
  }


  @media screen and (max-width: 617px ) {
    .navbarLinks{
        font-size: 22px;
        display: flex;
        justify-content: center;
    }
    .listText{
        background-color: rgba(0, 0, 0, 0.6);
    }
    .Ptag{
        font-size: 16px;
      }
      .AboutUsFont{
        font-size: large;
      }
  }



  @media screen and (max-width: 990px) {
    .listText{
        font-size: 2rem;
    }

    .CarouselDiv{
        width: 100%;
    }

    
.HomeEmpowerBG{
    margin-top: 25px;
    font-size: 3rem;
}
}



  .hero-container {
    position: relative;
    height: 500px; /* Set a fixed height for consistency */
    overflow: hidden;
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

    .location-image {
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    object-fit: cover;
    z-index: 0;
  }
  
  .hero-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
  }

  @media screen and (max-width: 550px ) {
    .navbarLinks{
        font-size: 1em;
        display: flex;
        justify-content: center;
    }
    .HomeDiv{
        font-size: 3rem;
    }

    .HomeEmpowerBG{
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 2rem;
    }
    .BGUnity{
        
        background-color: white;
    }

    .hero-image {
        height: 100%;
      }

      .hero-text {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 1;
      }

      .hero-container {
        height: 250px; 
      }
  }

  .heroimgs{
    object-fit: fill;
    width: 100%;
  }